<br/>
<div class="jumbotron">
	<h1>Bloccitoff</h1>
	<p>An application that helps you get things done by having those very things explode after 7 days!</p>
	<p>
		<%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
	</p>
</div>