<% completed ||= "" %>
<tr id="#{completed}item_#{item.id}">
	<td><%= item.title %></td>
	<td><%= item.body %></td>
	<td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Complete', item, method: :put, remote: true, class: 'btn btn-success' %>
</tr>