<h1>List of Tasks</h1>

<table class="table table-striped incomplete">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Time Left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class='js-items'>
      <%= render @items %>
    </div>
  </tbody>
</table>

<br>

<%= render partial: "items/form" %>

<h1>Completed Tasks</h1>

<table class="table table-striped complete">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "items/item", collection: @items_completed, locals: {completed: "completed_"} %>
  </tbody>
</table>
