@import "bootstrap";

body {
	background: white;
}

 .user-info {
   margin-top: 5px;
 }
 
 .nav {
   margin: 10px 10px 10px 5px;
   padding: 10px 10px 10px 5px;
 }

.jumbotron {
   border-style: solid;
   border-width: 5px;
   margin: 30px 10px 5px 5px;
   padding: 10px 10px 5px 5px;
}

h1 {
	color: black;
	text-align: left;
	margin-top: 61px
}

.alert-success { 
	margin-top: 30px;
}

.alert-danger {
	margin-top: 30px;
}

.alert-warning {
	margin-top: 30px;
}